.blog{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    h3{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .font-18{
        font-size: 18px;
    }    .fw-semibold{
        font-weight: 500;
    }
}

.width-35{
    width: 35px;
}

.list-items{
    list-style-type: disc;
    padding-left: 20px;
}

