<div class="container-fluid my-5">

    <div class="row">
        <div class="col-md-4">
            <h3 class="mb-4">Angular Interview Questions</h3>
            <div class="side-panel">
                <p>Welcome to the Angular Interview Questions section! Here, you'll find a curated list of common
                    questions and answers related to Angular and NgRx. Whether you're preparing for an interview or just
                    want to deepen your understanding of Angular, this section is designed to help you grasp key
                    concepts and best practices.</p>
                <p>Feel free to explore the questions and answers, and don't hesitate to reach out if you have any
                    further questions or need clarification on any topic!</p>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="mb-4">NgRx Concepts</h3>
            @for (item of questionList$ | async; track $index) {
            @if (item.category === 'NgRx' || item.category === 'Angular' || item.category === 'JavaScript') {
            <div class="question shadow-sm">
                <div class="flex">
                    <div class="number">
                        <h3 class="me-2"><span>{{ $index + 1 }}:</span></h3>
                    </div>
                    <div class="question-text">
                        <h3>
                            <span>{{ item.question }}</span>
                        </h3>
                        <div class="font-18" [innerHTML]="setHtml(item.answer)"></div>
                    </div>
                </div>
            </div>
            }}
        </div>
    </div>
</div>